
###############
# Bridge
###############


auto bridge
iface bridge
    bridge-ports peerlink \
                 {% for port in racks[devices[inventory_hostname].rack].interfaces %}{{ port.interface }} {% endfor %}

    bridge-vids {% for vlan in racks[devices[inventory_hostname].rack].vlans %}{{ vlan }} {% endfor %}

    bridge-vlan-aware yes
