
###############
# Mlag and peerlink
###############

{% for interface in devices[inventory_hostname].peerlinks %}
auto {{ interface }}
iface {{ interface }}
    alias peerlink

{% endfor %}

auto peerlink
iface peerlink
    bond-slaves {% for interface in devices[inventory_hostname].peerlinks %}{{ interface }} {% endfor %}
